<a href="https://colab.research.google.com/github/iArtificialPeru/ProbabilityStatistics/blob/main/Notebooks/01%20Python_NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

## Print()

In [1]:
apples = 7

In [2]:
print("apples")

apples

In [3]:
print(apples)

7

In [4]:
# f-string

name = "Ann"

print(f"{name} ate all {apples} of the apples.")

Ann ate all 7 of the apples.

---

# List Selection

In [5]:
my_list = [5,10,15,20]

In [6]:
my_list[0]

5

---

## Conditional Statements

In [7]:
'''

if <condition>:
    block of code
--> blocks begin and end with indentation, traditionally 4 spaces

    if <condition>:
        block of code
        can be another if statement

if <condition>:
    block of code

''';

In [8]:
if True:
    print("True")

True

In [9]:
user_email = "my_email@email.com"
password = "my_password"

if user_email == "my_email@email.com":
    if password == "my_password":
        print("You're in!")

You're in!

---

## for Loops

In [10]:
# By default, range(10) starts at 0 and EXCLUDES the stop value
# Use list() to return a list of numbers

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Loop a specified number of times

In [11]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

##### What the machine sees

In [12]:
for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [13]:
# Convention is to use an underscore when not using the declared variable within the loop

for _ in range(10):
    print("Looping...")

Looping...
Looping...
Looping...
Looping...
Looping...
Looping...
Looping...
Looping...
Looping...
Looping...

#### Loop for as many items are in a given data structure

In [14]:
my_list = [1, 11, 4, 44]

for thing in my_list:
    print(thing)

1
11
4
44

---

## List Comprehension
Creata a new list based on an existing list.

In [15]:
a_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[num*2 for num in a_list]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

## Functions

#### No parameters

In [16]:
def say_hello():
    return "Hello"

In [17]:
say_hello()

'Hello'

#### One parameter

In [18]:
def age_check(age):
    if age < 18:
        return "Underage!"

    return "O.K."

In [19]:
age_check(17)

'Underage!'

#### Two parameters

In [20]:
# Two parameters

def age_check_2(name, age):
    if age < 21:
        return f"{name}, you're too young to drink!"

    return f"{name}, you're O.K."

In [21]:
age_check_2("Dan", 17)

"Dan, you're too young to drink!"

---

# NumPy

In [22]:
import numpy as np

## Random numbers

### rand()

In [23]:
# Returns a random number between 0 and 1 (exclusive).

np.random.rand()

0.9046761357811319

### randint()

In [24]:
# Returns a random integer between start and stop (exclusive).

np.random.randint(1, 101)

90

### normal

In [25]:
# Returns a random decimal number from a normal distribution (68-95-99.7), given a mean and standard deviation.
# mean = 30; std = 5

np.random.normal(30, 5)

21.956466476731087

In [26]:
# Given mean = 30 and std = 5:
    # values should fall within 25 to 35 most (approx. 68%) of the time.

np.random.normal(30, 5, (5,5))

array([[28.88395775, 28.69917836, 31.16883012, 29.44791083, 23.98930507],
       [30.57592224, 24.57340291, 37.03220673, 32.32993636, 23.38504476],
       [33.14648525, 32.54410262, 25.34127716, 33.09382762, 19.81496789],
       [33.50272606, 27.75744261, 26.79149308, 40.93177402, 26.751165  ],
       [29.92858934, 28.1146832 , 26.64883896, 29.70650776, 34.9403295 ]])

### uniform()

In [27]:
# Returns a random decimal number uniformly between start and stop (exclusive).

np.random.uniform(25, 35, (5,5))

array([[25.10578412, 27.11159012, 33.14113281, 31.55738314, 31.02260039],
       [27.05995786, 25.00925385, 25.28594208, 29.92523222, 31.42744263],
       [34.15142119, 30.39472217, 25.35040069, 33.30520074, 27.41604491],
       [28.88996364, 32.55720688, 29.70886527, 29.65432746, 28.15722046],
       [31.61368277, 27.36089176, 28.8248631 , 27.76685085, 25.5719273 ]])

---